{% extends 'employee/em_base.html' %}

{% block body %}


<h2>Giới thiệu Trang Nhân Viên</h2>

    
<h2>Chào mừng bạn đến với Trang Nhân Viên – nơi kết nối và hỗ trợ công việc của đội ngũ nhân sự trong doanh nghiệp. Tại đây, bạn sẽ dễ dàng quản lý các tác vụ hàng ngày như theo dõi đơn hàng, xử lý yêu cầu hủy, quản lý hóa đơn, và nhiều chức năng khác.</h2>
    
<h2>Giao diện được thiết kế thân thiện, dễ sử dụng, giúp bạn tiết kiệm thời gian và nâng cao hiệu quả làm việc. Với công cụ quản lý tập trung này, mỗi nhân viên đều có thể đóng góp vào sự phát triển của tổ chức một cách chuyên nghiệp và hiệu quả nhất.
</h2>    
<h2>Hãy cùng khám phá và sử dụng các tính năng tối ưu trên trang nhân viên để đạt được những thành tựu mới trong công việc!</h2>

{% endblock %}