<header class="header">
    <div class="grid">
        <nav class="header__navbar">
            <ul class="header__navbar-list gird">
                <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
                    Vào cửa hàng trên ứng dụng Delta
                    <div class="header__qr">
                        <img src="{{ url_for('static', filename='assets/img/qr_code_Shopee.png') }}" alt="Download QR" class="footer__download-qr">
                        <div class="header__qr-apps">
                            <a href="" class="header__qr-link">
                                <img src="{{ url_for('static', filename='assets/img/CH_Play.png') }}" alt="Google Play" class="footer__download-app-img">
                            </a>
                            <a href="" class="header__qr-link"></a>
                            <img src="{{ url_for('static', filename='assets/img/App_Store.png') }}" alt="App Store" class="footer__download-app-img">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <!-- use span individual -->
                    <span class="header__navbar-title--no-pointer">Kết nối</span>
                    <a href="" class="header__navbar-icon-link"><i class="header__navbar-icon fa-brands fa-facebook"></i></a>
                    <a href="" class="header__navbar-icon-link"><i class="header__navbar-icon fa-brands fa-square-instagram"></i></a>
                </li>
                
            </ul>

            <ul class="header__navbar-list gird">
                <!--<li class="header__navbar-item header__navbar-item--has-notify">
                <a href="" class="header__navbar-item-link">
                    <i class="header__navbar-icon far fa-bell"></i>
                    Thông báo
                </a>
                <div class="header__notify">
                    <header class="header__notify-header">
                        <h3>Thông báo mới nhận</h3>
                    </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--viewed">
                                <a href="" class="header__notify-link">
                                    <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/07/bo-san-pham-ngan-ngua-lao-hoa-tai-sinh-da-ohui-the-first-geniture-set-mini-5pcs-5d2d9af4b4383-16072019163756-jpg-1594712627-14072020144347.jpg" alt="Mỹ Phẩm Ohui" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                        <span class="header__notify-description">Mô tả  ladyaoáodáđâsd Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                    </div>
                                </a>
                            </li>

                            <li class="header__notify-item header__notify-item--viewed">
                                <a href="" class="header__notify-link">
                                    <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/07/bo-san-pham-ngan-ngua-lao-hoa-tai-sinh-da-ohui-the-first-geniture-set-mini-5pcs-5d2d9af4b4383-16072019163756-jpg-1594712627-14072020144347.jpg" alt="Mỹ Phẩm Ohui" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                        <span class="header__notify-description">Mô tả Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                    </div>
                                </a>
                            </li>

                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/07/bo-san-pham-ngan-ngua-lao-hoa-tai-sinh-da-ohui-the-first-geniture-set-mini-5pcs-5d2d9af4b4383-16072019163756-jpg-1594712627-14072020144347.jpg" alt="Mỹ Phẩm Ohui" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                        <span class="header__notify-description">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                    </div>
                                </a>
                            </li>

                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/07/bo-san-pham-ngan-ngua-lao-hoa-tai-sinh-da-ohui-the-first-geniture-set-mini-5pcs-5d2d9af4b4383-16072019163756-jpg-1594712627-14072020144347.jpg" alt="Mỹ Phẩm Ohui" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                        <span class="header__notify-description">Mô tả mXác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                    </div>
                                </a>
                            </li>

                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/07/bo-san-pham-ngan-ngua-lao-hoa-tai-sinh-da-ohui-the-first-geniture-set-mini-5pcs-5d2d9af4b4383-16072019163756-jpg-1594712627-14072020144347.jpg" alt="Mỹ Phẩm Ohui" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">MXác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                        <span class="header__notify-description">Mô tả mXác thực chính hãng nguồn gốc các sản phẩm Ohui</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    <footer class="header__notify-footer">
                        <a href="" class="header__notify-footer-btn">
                            Xem tất cả
                        </a>
                    </footer>
                </div>
            -->
            </li>
                <li class="header__navbar-item"><a href="" class="header__navbar-item-link">
                    <i class="header__navbar-icon fa-regular fa-circle-question"></i>Trợ giúp
                </a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="header__navbar-item header__navbar-user">
                    <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_1280.png" alt="" class="header__navbar-user-img">
                    <span class="header__navbar-user-name">{{current_user.username}}</span>
                    <ul class="header__navbar-user-menu">
                        <li class="header__navbar-user-item"><a href="">Tài khoản của tôi</a></li>
                        <li class="header__navbar-user-item"><a href="/historyorder">Đơn mua</a></li>
                        <li class="header__navbar-user-item header__navbar-user-item--separate"><a href="/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate" id="register">Đăng ký</li>
                <li class="header__navbar-item header__navbar-item--strong" id="login">Đăng nhập</li>
                {% endif %}

            </ul>
        </nav>
        <!-- Header with search -->
        <div class="header-with-search">
            <div class="header__logo">
                <a href="/" class="header__logo-link ">
                        <img src="{{ url_for('static',filename='Logo/Delta.jpg')}}" style="margin: 60px;border-radius: 10px;" class ="header__logo-img" ></img>
                </a>
            </div>

            <div class="header__search">
                <div class="header__search-input-wrap">
                    <input type="text" id="search-input" class="header__search-input" name="kw" placeholder="Nhập để tìm kiếm sản phẩm">
                    <div class="header__search-history">
                        <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                        <ul class="header__search-history-list">
                            <li class="header__search-history-item">
                                <a href="">Kem Chống nắng</a>
                            </li>
                            <li class="header__search-history-item">
                            <a href="">Kem Dưỡng Da</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__search-select">
                    <span class="header__search-select-label">Trong Shop</span>
                    <i class="header__search-select-icon fa-sharp fa-solid fa-chevron-down"></i>
                    <ul class="header__search-option">
                        <li class="header__search-option-item header__search-option-item--active">
                            <span>Trong Shop</span>
                            <i class=" fa-solid fa-check"></i>
                        </li>
                        <li class="header__search-option-item">
                            <span>Ngoài Shop</span>
                            <i class=" fa-solid fa-check"></i>
                        </li>

                    </ul>
                </div>
                <button class="header__search-btn" id="search-btn" type="submit">
                    <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <!-- Cart layout -->
            <div class="header__cart">
                <a href='/cart' style="text-decoration: none;">
                <div class="header__cart-wrap">
                    <i class=" header__cart-icon fa-solid fa-cart-shopping"></i>
                    <span class="header__cart-notice cart-counter">{{cart_stats.total_quantity}}</span>
                    <!-- No cart 
                    <div class="header__cart-list header__cart-list--no-cart">
                    -->
                     
                    <div class="header__cart-list">
                        {% if 'cart' in session %}
                        <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                        <ul class="header__cart-list-item" id='cart-list'>
                            <!-- Cart Item -->
                            {% for c in session['cart'].values() %}
                            <li class="header__cart-item book{{c.id}} border-bottom" style="margin:20px 0 0 20px" id="book{{c.id}}">
                                <img src="{{c.image}}" alt="" class="header__cart-img"> 
                                <div class="header__cart-item-info">
                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name">{{c.title}}</h5>
                                        <div class="header__cart-item-price-wrap">
                                            <span class="header__cart-item-price">{{c.price}}</span>
                                            <span class="header__cart-item-multiply">x</span>
                                            <span class="header__cart-item-quantity cart_quantity{{c.id}}">{{c.quantity}}</span>
                                        </div>
                                    </div>
                                    <div class="header__cart-item-body">
                                        <span class="header__cart-item-description">
                                              <!--Item --> 
                                        </span>
                                        <span class="header__cart-item-remove"><!--Xóa --> </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="/cart" class="header__cart-view-cart button btn--primary">Xem giỏ hàng</a>
                        {% else %}
                        <ul class="header__cart-list-item d-flex justify-content-center align-items-center" style="height: 200px;">
                            <li class="header__cart-item text-center">
                                <img src="{{url_for('static',filename='assets/img/no_cart.png')}}" alt="" class="header__cart-img" style="margin-bottom: 10px;width:150px;height:150px;">
                                <div class="header__cart-item-info">
                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name" style="margin-top: 10px;">Chưa có sản phẩm</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <a/>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('search-btn').addEventListener('click', function() {
            var kw = document.getElementById('search-input').value;
            if (kw) {
                window.location.href = '/?kw=' + encodeURIComponent(kw);
            }
        });

    </script>
</header>